@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

body{
     background: linear-gradient(#2EAAFA, #1F2F98);
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.main-container{
    /* border: 1px solid black; */
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-table{
    height: 0vh;
  
}
.course-box{
    /* border: 1px solid black; */
    /* width: 100px; */
    /* height: 100px; */
    padding: 4rem;
    background-color :aliceblue;
    box-shadow: 2px 2px 8px -4px;
}
.input-block{
    margin-bottom: 1.5rem;
}
.input-control{
    border: none;
    height: 3.5rem;
    width: 21rem;
    border-radius: 3px;
    padding-left: 10px;

}
input[type="text"]:hover{
    border: 1px solid #999;
    }
.input-box{
    background-color: gold;
    color: white;
}
.btn{
    font-size: 1.2rem;
    height: 3rem;
    width: 21rem;
    border: none;
    background-color: rgb(65, 105, 225);
    color: white;
}
.btn:hover{
    background-color: gold;
}

.input-control:focus{
   outline: none;
}

tr{
    background-color: white;
}
th{
    text-align: center;
}
th,td {
    vertical-align: middle;
    color: black;
    border: 1px solid darkgray;
}