@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    
} 
.center_div{
    margin: auto;
    background-color: rgb(65, 105, 225);
    
    height: auto;

}
.outer-div{
    height: 90vh;
}
.left-div, .right-div{
    height: 90vh;
}
.top_first_div{
    height: 45vh;
}
.top_second_div{
    height: 45vh;
}
.bottom_first_div{
    height: 45vh;
   }
.bottom_second_div{
    height: 45vh;
   
}

 /* Schedule */
 .schedule-outer {
    height: 240px;
    width: 270px;
    margin-top: 26px;
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
}

.theory-div {
    height: 60px;
    width: 100%;
}

.lab-div {
    height: 60px;
    width: 100%;
}
.weekly-schedule{
    height: 30px;
    width: 100%;
}

.schedule-heading {
    line-height: 120px;
    padding-left: 13px;
    font-size: 17px;
}
.scheduleButton{
    border: none;
    width: 10rem;
    height: 2rem;
    margin:60px;
    color: #fff;
   background-color: rgb(65, 105, 225);
  
}
.scheduleButton:hover{
    background-color: goldenrod;
    
}
/* performance index css */


.skill
{
    margin: auto;
    width: 160px;
    height: 160px;
    /* background: cornflowerblue; */
    position: relative;
    margin-left: 86px;
   
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                 -6px -6px 10px -1px rgba(255,255,255,0.7);
                
}

.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                 inset 4px 4px 6px -1px rgba(255,255,255,0.7),
                 0.5px 0.5px 0px rgba(0,0,0,0.15),
                 0px 12px 10px -10px rgba(0,0,0,0.05);
}

#number{
    font-weight: 600;
    color: #555;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 0;
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 165;
    }
}

.performance-heading{
    /* text-align: center; */
    margin: auto;
    color: white;
    font-weight: 600;
    margin-left: 60px;
    padding-top: 60px; 
}

h6{
    /* text-align: center; */
    /* padding: 12px; */
    padding-top: 10px;
    margin: auto;
    margin-left: 75px;
    color: white;
}

/* Doubt forum */
.doubt-div{
    height: 43vh;
    width: 400px;
    background-color: aliceblue;
    border-radius: 5px;
    /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 0 10px 0 #555;
    padding: 5px;
}
.doubtForum{
    color: black;
    text-align: center;
    font-size: 27px;
    font-weight: 300;

}

.form-select{
    border: 0;
    outline: 0;
    margin: auto;
    width: 70%;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
}

#Textarea {
    position: static !important;
    width: 90%;
    margin: auto;
    padding: 8px 20px;
    border-radius: 6px;
    /* text-align: left; */
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    /* margin-top: 4px; */
    -webkit-transition: none;
    transition: none;
    margin-bottom: 10px;
}

/* #Textarea:hover, #Textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
} */

.doubtContent{
    text-align: center;
}
.doubtSubmit{
    border: none;
    width: 5rem;
    color: #fff;
    background-color: rgb(65, 105, 225);
}
.doubtSubmit:hover{
    background-color: goldenrod;
}

/* BarGrpah css */
.attendance-div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",sans-serif;
}

.chart{
    width: 550px;
    height: 270px;
    display: block;
}

.numbers{
    color: #fff;
    margin-left: 20px;
    padding: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
    /* float: left; */
}

.numbers li{
    list-style: none;
    height: 140px;
    position: relative;
    bottom: 120px;
}

.numbers span{
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.bars{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #fff;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 430px;
    height: 270px;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
}

.bars li{
    display: table-cell;
    width: 100px;
    height: 270px;
    position: relative;
}

.bars span{
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.bars .bar{
    display: block;
    background: goldenrod;
    width: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    transition: 0.5s;
    transition-property: background,box-shadow;
}

.bars .bar:hover{
    background: #55EFC4;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    cursor: pointer;
}

.bars .bar:before{
    color: black;
    content: attr(data-percentage);
    position: relative;
    bottom: 20px;
}

/* notice-board css */
.notice-board-div{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: 40vh;
    border-radius: 5px;
    background-color: white;
    /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 0 10px 0 #555;
}
.desc{
    text-align: center;
}
