body {
    background-color: rgb(65, 105, 225);
}

.navbar{
    background-color: whitesmoke;
}

.img-responsive {
    height: auto;
    max-width: 100%;
    padding-left: 2rem;
}

.nav-link {
    color: rgb(96, 96, 96);
}

.nav-link:hover {
    color: black;
}

.nav-item{
    padding-left: 1.5rem;
    font-size: large;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.dropdown-item{
    font-size: larger;
    font-family: "Google Sans",Roboto,Arial,sans-serif;   
    color: rgb(96, 96, 96);
}

.navbar-nav{
    text-align: right;
    margin-right: 20px;
}

@media only screen and (max-width: 1000px) {
    .dropdown-menu {
        width: 90px;
        margin-left: auto;
        margin-right: 0;
    }
}

.text-reset {
    text-decoration: none;
}