.navbar{
    background-color: #0a58ca;
    font-size: large;
}

.img-responsive {
    height: auto;
    max-width: 100%;
    padding-left: 2rem;
}

.nav-link {
    color: aliceblue;
}

.nav-link:hover {
    color: gold;
}

.nav-item{
    padding-left: 1.5rem;
    font-size: larger;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.dropdown-item{
    font-size: larger;
    font-family: "Google Sans",Roboto,Arial,sans-serif;   
}

.navbar-nav{
    text-align: right;
    margin-right: 20px;
}

@media only screen and (max-width: 1000px) {
    .dropdown-menu {
        width: 90px;
        margin-left: auto;
        margin-right: 0;
    }
}